body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.customerAttr {
  background-color: rgb(255, 127, 180);
  width: 120px;
}
h1 {
  color: green;
}
h2 {
  color: bisque;
}